<center>
	<h3>O que você deseja fazer?</h3>

	<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
		<%=link_to 'Entrar', login_path %>
	</button>
	
	</br>
	</br>

	<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
		<%=link_to 'Cadastrar', signup_path %>
	</button>
</center>