<p id="notice"><%= notice %></p>

<h1>Tópicos:</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @topics.each do |topic| %>
      <tr>
        <td><%= topic.name %></td>
        <td><%= link_to 'Like', like_topic_path(topic), method: :put %></td>
        <td><%= link_to 'Dislike', dislike_topic_path(topic), method: :put %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
