<p id="notice"><%= notice %></p>

<h2>Leis</h2>

<table class="mdl-data-table mdl-js-data-table">
   <thead>
     <tr>
      <th class="mdl-data-table__cell--non-numeric">Título</th>
      <th>Likes</th>
      <th>Dislikes</th>
     </tr>
   </thead>
 
   <tbody>
     <% @laws.each do |law| %>
       <tr>
        <td class="mdl-data-table__cell--non-numeric"><%= law.title %></td>
        <td class="centralize"><%= law.get_likes.size %></td>
        <td class="centralize"><%= law.get_dislikes.size%></td>
       </tr>
     <% end %>
   </tbody>
 </table>
 
 <br>