<p id="notice"><%= notice %></p>
<center>
<h2 style = "color: white">Rank de Leis</h2>

<table style = "margin-bottom: 20px"class="mdl-data-table mdl-js-data-table">
   <thead>
     <tr>
      <th class="mdl-data-table__cell--non-numeric">Título</th>
      <th>Gosteis</th>
      <th>Não Gosteis</th>
     </tr>
   </thead>
 
   <tbody>
     <% @laws.each do |law| %>
       <tr>
        <td class="mdl-data-table__cell--non-numeric"><%= law.title %></td>
        <td class=""><%= law.get_likes.size %></td>
        <td class=""><%= law.get_dislikes.size%></td>
       </tr>
     <% end %>
   </tbody>
 </table>
 
 </center>