<p id="notice"><%= notice %></p>

<h1>Rank de Leis</h1>

<% @laws.each do |law| %>
  <tr>
    <td><%= law.description %></td>
    <td><%= law.get_likes.size %></td>
    <td><%= link_to 'Show', law %></td>
  </tr>
  <br>
<% end %>
